<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pig.homework.mapper.ClassCommitteeMapper">

  <resultMap id="classCommitteeMap" type="com.pig4cloud.pig.homework.entity.ClassCommitteeEntity">
        <id property="id" column="id"/>
        <result property="deptId" column="dept_id"/>
        <result property="studentId" column="student_id"/>
        <result property="roleName" column="role_name"/>
  </resultMap>
</mapper>
